@import '~@angular/material/theming';

$maestro-primary-palette: (
    50 : #ebf4ec,
    100 : #cde3cf,
    200 : #abd1b0,
    300 : #89be90,
    400 : #70b078,
    500 : #57a260,
    600 : #4f9a58,
    700 : #46904e,
    800 : #3c8644,
    900 : #2c7533,
    A100 : #bcffc2,
    A200 : #89ff94,
    A400 : #56ff66,
    A700 : #3cff4f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$maestro-accent-palette: (
    50 : #fde8ef,
    100 : #f9c6d7,
    200 : #f6a0bd,
    300 : #f279a2,
    400 : #ef5d8e,
    500 : #ec407a,
    600 : #ea3a72,
    700 : #e73267,
    800 : #e42a5d,
    900 : #df1c4a,
    A100 : #ffffff,
    A200 : #ffe0e7,
    A400 : #ffadbe,
    A700 : #ff94aa,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$maestro-warn-palette: (
    50 : #fee8e7,
    100 : #fcc7c3,
    200 : #faa19b,
    300 : #f77b72,
    400 : #f65f54,
    500 : #f44336,
    600 : #f33d30,
    700 : #f13429,
    800 : #ef2c22,
    900 : #ec1e16,
    A100 : #ffffff,
    A200 : #ffe9e9,
    A400 : #ffb8b6,
    A700 : #ff9f9c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
