<app-toolbar></app-toolbar>

<div class="main-content">
    <!-- Active highlight -->
    <div class="active-hl-banner">
        <div class="active-hl-banner--top">{{ activeHlText }}</div>
        <div class="active-hl-banner--bottom">
            <mat-icon *ngIf="activeHlTime" [inline]="true">mic</mat-icon>
            <div *ngIf="activeHlTime">({{ activeHlTime }})</div>
        </div>
    </div>

    <div id="eventdrops-demo"></div>

    <!-- Player area -->
    <div class="player-area">
        <!-- Waveform -->
        <div class="waveform">
            <div class="waveform--counter">{{ counter }}</div>
            <div class="waveform--container">
                <!-- Chart -->
                <div class="chart-container" style="position: relative;">
                    <canvas id="myChart" *ngIf="waveReady"></canvas>
                </div>

                <div class="waveform--wrapper">
                    <div class="waveform--loading">
                        <div *ngIf="!waveReady">Loading track...</div>
                        <mat-progress-bar *ngIf="!waveReady" mode="buffer"></mat-progress-bar>
                    </div>
                    <div id="wave-minimap"></div>
                    <div id="waveform"></div>
                </div>
                <!-- Highlights -->
                <div class="waveform--highlight-popover" *ngIf="waveReady">
                    <app-highlight-popover [highlights]="highlights" (highlightClicked)="onHighlightClicked($event)"></app-highlight-popover>
                </div>
            </div>
            <div class="waveform--duration">{{ duration }}</div>
        </div>
        
        

        <!-- Playback controls -->
        <mat-toolbar class="playback-container">
            <mat-toolbar-row class="playback-controls">
                <button mat-icon-button [disabled]="!waveReady" (click)="onReplay()" class="playback-btn">
                    <mat-icon class="playback-icon-s" [inline]="true">replay_5</mat-icon>
                </button>
                <button mat-icon-button [disabled]="!waveReady" (click)="onPlayPause()" class="playback-btn play-pause">
                    <mat-icon *ngIf="!isPlaying()" class="playback-icon-l" [inline]="true">play_circle_outline</mat-icon>
                    <mat-icon *ngIf="isPlaying()" class="playback-icon-l" [inline]="true">pause_circle_outline</mat-icon>
                </button>
                <button mat-icon-button [disabled]="!waveReady" (click)="onForward()" class="playback-btn">
                    <mat-icon class="playback-icon-s" [inline]="true">forward_5</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>

    <button mat-button (click)="onAddHighlight()">add highlight</button>

</div>
