// Import material theming functions
@import '~@angular/material/theming';
// Import custom theme to access color palettes
@import 'app-material-theme';

.main-content {
    // max-width: 960px;
    // min-width: 860px;
    width: 960px;
    height: 100%;
    margin: 0 auto;
}
