// Import material theming functions
@import '~@angular/material/theming';
// Import custom theme to access color palettes
@import 'app-material-theme';

.main-content {
    max-width: 960px;
    min-width: 860px;
    height: 100%;
    margin: 0 auto;
}

.active-hl-banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 1.5em;
    &--top {
        font-size: 2em;
        font-weight: 700;
        height: 152px;
        display: flex;
        align-items: flex-end;
    } 
    &--bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.5em;
        height: 56px;
        mat-icon {
            font-size: 48px;
        }
        div {
            font-size: 14px;
        }
    }
}

.waveform {
    &--holder {
        height: 100px;
        overflow: hidden;
    }
    &--loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
            padding: 0.5em;
        }
    }
}

#waveform {
    cursor: pointer;
    position: relative; // !! Wihout this, cursor position is out of place
}

.highlight-area {
    display: flex;
    flex-direction: column;
}

.playback-container {
    background: mat-color($app-background);
}

.playback-controls {
    display: flex;
    justify-content: center;
}

.mat-icon.playback-icon-l {
    font-size: 48px;
}

.mat-icon.playback-icon-s {
    font-size: 36px;
}

.playback-btn {
    margin: 0 0.5em;
}

.play-pause {
    height: 48px;
    width: 48px;
}