// Import material theming functions
@import '~@angular/material/theming';
// Import custom theme to access color palettes
@import 'app-material-theme';

.main-content {
    max-width: 960px;
    min-width: 860px;
    height: 100%;
    margin: 0 auto;
}

.active-highlight-text {
    font-size: 2em;
    font-weight: 700;
    padding: 0 1em;
    text-align: center;
}

.waveform-top-half {
    height: 100px;
    overflow: hidden;
}

#waveform {
    cursor: pointer;
    position: relative; // !! Wihout this, cursor position is off
}

.waveform-loading {
    margin: 2em 0;
}

.playback-container {
    background: mat-color($app-background);
}

.playback-controls {
    display: flex;
    justify-content: center;
}

.mat-icon.playback-icon-l {
    font-size: 48px;
}

.mat-icon.playback-icon-s {
    font-size: 36px;
}

.playback-btn {
    margin: 0 0.5em;
}

.play-pause {
    height: 48px;
    width: 48px;
}