<mat-toolbar color="primary" class="toolbar-container">
    <mat-toolbar-row>
        <span>maestro</span>
        <span class="toolbar-spacer"></span>
        <mat-icon class="toolbar-icon">account_circle</mat-icon>
        <mat-icon class="toolbar-icon">settings_applications</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<div class="waveform-container">
    wave ready: {{waveReady}}
    <mat-progress-bar *ngIf="!waveReady ? true : false" mode="buffer"></mat-progress-bar>
    <div id="waveform"></div>
    <div id="wave-timeline"></div>
</div>

<div class="playback-container">
    <button mat-icon-button [disabled]="!waveReady" (click)="onPlay()">
        <mat-icon>play_circle_outline</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!waveReady" (click)="onPause()">
        <mat-icon>pause_circle_outline</mat-icon>
    </button>
</div>
