.toolbar-container {
    margin-bottom: 2em;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar-icon {
    padding: 0 14px;
}

.main-content {
    max-width: 1240px;
    min-width: 960px;
    margin: 0 auto;
}

#waveform {
    cursor: pointer;
}
