// Import material theming functions
@import '~@angular/material/theming';
// Import custom theme to access color palettes
@import 'app-material-theme';

.toolbar-container {
    margin-bottom: 2em;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar-icon {
    padding: 0 14px;
}

.main-content {
    max-width: 1240px;
    min-width: 960px;
    width: 960px;
    margin: 0 auto;
}

#waveform {
    cursor: pointer;
    position: relative; // !! Wihout this, cursor position is off
}

.waveform-container {
    padding: 0.5em;
}

.waveform-loading {
    margin: 2em 0;
}

.playback-container {
    background: mat-color($app-background);
}

.playback-controls {
    display: flex;
    justify-content: center;
}

.mat-icon.playback-icon-l {
    font-size: 48px;
}

.mat-icon.playback-icon-s {
    font-size: 36px;
}

.playback-btn {
    margin: 0 0.5em;
}

.play-pause {
    height: 48px;
    width: 48px;
}